<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 class="display-4 text-center text-bold text-danger"><b>Add New Exchange</b></h3>
      <form class=" w-50 container" [formGroup]="updateExchangeForm">
                <div class="form-group">
                    <label for="id">Id</label>
                    <input class="form-control" formControlName="id" type="number" id="id" placeholder="Enter id" disabled>
                </div>
                <div class="form-group">
                    <label for="exchangename">Stock Exchange Name</label>
                    <input class="form-control" formControlName="exchangename" type="text" id="exchangename" placeholder="Enter stock exchange name" disabled>
                </div>
                <div class="form-group" >
                    <label for="about">About</label>
                    <input class="form-control" formControlName="about" type="text" id="about" placeholder="say something about this stock exchange">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input class="form-control" formControlName="address" type="text" id="address" placeholder="Enter Address">
                </div>
                <button class="btn btn-success" (click)="updateExchange()" [disabled]="!updateExchangeForm.valid">Update Exchange</button>
                
            </form>
    </div>
    </div>
  