<div class="p-4">
    <div class="container card card-shadow bg-dark text-light rounded w-auto">
        <h1 class="responsive row justify-content-center">CONTACT US</h1>
        <p class="text-center responsive mx-auto mb-3">
        <form>
            <div class="md-form ">
                <label for="name" class="">Your name</label>
                <input type="text" id="name"  name="name" class="form-control">
            </div>
            <div class="md-form">
                <label for="email" class="">Your email</label>
                <input type="email" id="email"  name="email" class="form-control">
            </div>
            <div class="md-form mb-0">
                <label for="subject" class="">Subject</label>
                <input type="text" id="subject"  name="subject" class="form-control">
            </div>
            <div class="md-form">
                <label for="message">Your message</label>
                <textarea type="text" id="message"  name="message" rows="2"
                    class="form-control md-textarea"></textarea>
            </div>
            <div class="text-center my-4">
                <button class="btn btn-primary w-50">Submit</button>
            </div>
        </form>
        <div class="text-center">
            <h5>For any queries, contact: </h5>
            <div class="row">
                <div class="col">
                    <i class="fa fa-phone" aria-hidden="true">
                    989525319
                    </i>
                </div>
                <div class="col">
                    <i class="fa fa-envelope" aria-hidden="true"> stockmarketchart@gmail.com </i>
                </div>
                <div class="col">
                     <i class="fa fa-location-arrow">Chennai</i>
                </div>
            </div>
        </div>
    </div>
</div> 
 