<div class="jumbotron bg-primary">
  <div class="container">
    <h3 class="display-4 text-center text-bold text-danger"><b>Add New Company</b></h3>
    <form class=" w-50 container" [formGroup]="AddCompanyForm"  (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="id">Id</label>
                  <input class="form-control" formControlName="id" type="text" id="id" placeholder="Enter id">
              </div>
              <div class="form-group">
                  <label for="companyname">Company Name</label>
                  <input class="form-control" formControlName="companyname" type="text" id="companyname" placeholder="Enter Company name">
              </div>
              <div class="form-group" >
                  <label for="city">City</label>
                  <input class="form-control" formControlName="city" type="text" id="city" placeholder="Enter city">
              </div>
              <div class="form-group">
                  <label for="turnover">Turn Over</label>
                  <input class="form-control" formControlName="turnover" type="number" id="turnover" placeholder="Enter Turnover ">
              </div>
              <div class="form-group">
                  <label for="ceo">CEO</label>
                  <input class="form-control" formControlName="ceo" type="text" id="ceo" placeholder="Enter CEO Name">
              </div>
              <button class="btn btn-success" (click)="addCompany()" [disabled]="!AddCompanyForm.valid">Add Company</button>
              
          </form>
  </div>
  </div>
