<table class="table">
    <tr>
        
            <th>company-name</th>
            <th>city</th>
            <th>state</th>
            <th>turnover</th>
            <th>CEO</th>
            <th>Actions</th>
        
    </tr>
    <tr *ngFor="let company of company">
        <td>{{company.companyname}}</td>
        <td>{{company.city}}</td>
        <td>{{company.state}}</td>
        <td>{{company.turnover}}</td>
        <td>{{company.CEO}}</td>
        <td>
            <button class="btn btn-danger">Delete</button>
            <button class="btn btn-primary">Update</button>
        </td>
    </tr>
</table>