
<div class="container shadow p-3 mb-5 bg-white rounded ">
    <form class=" w-50 container shadow p-3 mb-5 bg-white rounded" [formGroup]="signupForm"  (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstname"><strong>Firstname:</strong></label>
            <input type="text" class="form-control" id="firstname" formControlName="firstname"
                placeholder="firstname">
        </div>
        <!-- <div class="form-group">
            <label for="lastname"><strong>lastname:</strong></label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="lastname">
        </div>   -->
        <div class="form-group">
            <label for="email"><strong>email:</strong></label>
            <input type="text" class="form-control" id="email" formControlName="email"
               placeholder="Enter your email">
        </div>
        <div class="form-group">
            <label for="username"><strong>username</strong></label>
            <input type="text" class="form-control" id="username" formControlName="username"
               placeholder="username preferred">
        </div>
        <div class="form-group">
            <label for="password"><strong>password:</strong></label>
            <input type="password" class="form-control" id="password" formControlName="password"
               placeholder="Enter your password">
        </div>
        <div class="text-center mt-3 mb-5">
            <button type="reset" class="btn btn-success px-5 mx-3">reset</button>
            <button type="submit" (click)=signup() class="btn btn-info px-5 mx-3">SignUp</button>
        </div>
    </form>
</div>

