<div class="list-group text-center">
  <a [routerLink]="['/users']" class="list-group-item list-group-item-action list-group-item-dark">SHOW USER LIST</a>
  <a [routerLink]="['/register']" class="list-group-item list-group-item-action list-group-item-dark">ADD USER</a>
  <a [routerLink]="['/import-data']" class="list-group-item list-group-item-action list-group-item-primary">IMPORT DATA</a>
  <a [routerLink]="['/manage-company']" class="list-group-item list-group-item-action list-group-item-secondary">MANAGE COMPANY</a>
  <a [routerLink]="['/list-company']" class="list-group-item list-group-item-action list-group-item-dark">LIST COMPANY</a>
  <a [routerLink]="['/manage-exchange']" class="list-group-item list-group-item-action list-group-item-success">MANAGE EXCHANGE</a>
  <a [routerLink]="['/list-exchange']" class="list-group-item list-group-item-action list-group-item-dark">LIST EXCHANGE</a>
  <a [routerLink]="['/manage-ipo']" class="list-group-item list-group-item-action list-group-item-danger">MANAGE IPO</a>
  <a [routerLink]="['/list-ipo']" class="list-group-item list-group-item-action list-group-item-danger">LIST IPO</a>
</div>
