<form [formGroup]="updateUser">
    <h2 class="text-center"> Update User</h2>
    <div class="form-group">
      <input type="number" 
      formControlName="id"
       placeholder=" Id " 
       name="id" 
       class="form-control"
        id="courseId" disabled>
       
    </div>
    <div class="form-group">
      <input type="text"
       formControlName="name" 
       placeholder="name" 
       name="name" 
       class="form-control" 
       id="name">
    
    </div>
     <div class="form-group">
      <input type="email"
       formControlName="email"
        placeholder="email" 
        name="email" 
        class="form-control"
         id="email">
     
    </div>
     <div class="form-group">
      <input type="number" 
      formControlName="phone"
       placeholder="number"
        name="phone"
         class="form-control" 
         id="phone">
      
    </div>
   
    <button class="btn btn-success" (click)="updateTheUser()" [disabled]="!updateUser.valid">Update User</button>
  </form>